## structual indexing

In [1]:
import pandas as pd
import numpy as np

In [3]:
index = [('California',2000),('California',2010),('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]
populations = [39299382, 39238294, 29382938, 29382948, 29003843, 290302034]
pop = pd.Series(populations, index=index)
pop

(California, 2000)     39299382
(California, 2010)     39238294
(New York, 2000)       29382938
(New York, 2010)       29382948
(Texas, 2000)          29003843
(Texas, 2010)         290302034
dtype: int64

In [5]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [7]:
pop = pop.reindex(index)
pop

California  2000     39299382
            2010     39238294
New York    2000     29382938
            2010     29382948
Texas       2000     29003843
            2010    290302034
dtype: int64

In [8]:
pop[:,2010]

California     39238294
New York       29382948
Texas         290302034
dtype: int64

In [9]:
pop_df = pop.unstack()
pop_df

                2000       2010
California  39299382   39238294
New York    29382938   29382948
Texas       29003843  290302034

In [10]:
pop_df.stack()

California  2000     39299382
            2010     39238294
New York    2000     29382938
            2010     29382948
Texas       2000     29003843
            2010    290302034
dtype: int64

In [11]:
pop_df = pd.DataFrame({'total': pop, 'under18': [198222, 928394, 5043049, 3209390, 39203940, 293849934]})
pop_df

                     total    under18
California 2000   39299382     198222
           2010   39238294     928394
New York   2000   29382938    5043049
           2010   29382948    3209390
Texas      2000   29003843   39203940
           2010  290302034  293849934

In [12]:
f_u18 = pop_df['under18']/pop_df['total']
f_u18.unstack()

                2000      2010
California  0.005044  0.023660
New York    0.171632  0.109226
Texas       1.351681  1.012221

In [13]:
f_u18

California  2000    0.005044
            2010    0.023660
New York    2000    0.171632
            2010    0.109226
Texas       2000    1.351681
            2010    1.012221
dtype: float64