## structual indexing

In [1]:
import pandas as pd
import numpy as np

In [3]:
index = [('California',2000),('California',2010),('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]
populations = [39299382, 39238294, 29382938, 29382948, 29003843, 290302034]
pop = pd.Series(populations, index=index)
pop

(California, 2000)     39299382
(California, 2010)     39238294
(New York, 2000)       29382938
(New York, 2010)       29382948
(Texas, 2000)          29003843
(Texas, 2010)         290302034
dtype: int64

In [5]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [7]:
pop = pop.reindex(index)
pop

California  2000     39299382
            2010     39238294
New York    2000     29382938
            2010     29382948
Texas       2000     29003843
            2010    290302034
dtype: int64

In [8]:
pop[:,2010]

California     39238294
New York       29382948
Texas         290302034
dtype: int64

In [9]:
pop_df = pop.unstack()
pop_df

                2000       2010
California  39299382   39238294
New York    29382938   29382948
Texas       29003843  290302034

In [10]:
pop_df.stack()

California  2000     39299382
            2010     39238294
New York    2000     29382938
            2010     29382948
Texas       2000     29003843
            2010    290302034
dtype: int64

In [11]:
pop_df = pd.DataFrame({'total': pop, 'under18': [198222, 928394, 5043049, 3209390, 39203940, 293849934]})
pop_df

                     total    under18
California 2000   39299382     198222
           2010   39238294     928394
New York   2000   29382938    5043049
           2010   29382948    3209390
Texas      2000   29003843   39203940
           2010  290302034  293849934

In [14]:
f_u18 = pop_df['under18']/pop_df['total']
print(f_u18)
print(f_u18.unstack())

California  2000    0.005044
            2010    0.023660
New York    2000    0.171632
            2010    0.109226
Texas       2000    1.351681
            2010    1.012221
dtype: float64
                2000      2010
California  0.005044  0.023660
New York    0.171632  0.109226
Texas       1.351681  1.012221

In [16]:
df = pd.DataFrame(np.random.rand(4,2), index = [['a','a','b','b'], [1,2,1,2]], columns = ['data1','data2'])
df

        data1     data2
a 1  0.954761  0.446813
  2  0.820871  0.972130
b 1  0.743217  0.898545
  2  0.603238  0.852631

In [18]:
pd.MultiIndex.from_arrays([['a','a','b','b'],[1,2,1,2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [19]:
pd.MultiIndex.from_tuples([('a',1),('a',2),('b',1),('b',2)])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [20]:
pd.MultiIndex.from_product([['a','b'],[1,2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [22]:
pop.index.names = ['state','year']
pop

state       year
California  2000     39299382
            2010     39238294
New York    2000     29382938
            2010     29382948
Texas       2000     29003843
            2010    290302034
dtype: int64

In [23]:
pop['California', 2000]

39299382

In [24]:
pop['California']

year
2000    39299382
2010    39238294
dtype: int64

In [25]:
pop.loc['California':'New York']

state       year
California  2000    39299382
            2010    39238294
New York    2000    29382938
            2010    29382948
dtype: int64

In [26]:
pop[:,2000]

state
California    39299382
New York      29382938
Texas         29003843
dtype: int64

In [27]:
pop[pop>20000000]

state       year
California  2000     39299382
            2010     39238294
New York    2000     29382938
            2010     29382948
Texas       2000     29003843
            2010    290302034
dtype: int64

In [28]:
pop[['California', 'Texas']]

state       year
California  2000     39299382
            2010     39238294
Texas       2000     29003843
            2010    290302034
dtype: int64

In [5]:
## concat append
import pandas as pd
import numpy as np

In [6]:
def make_df(cols, ind):
    data = {c:[str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

In [7]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]
np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
x= [[1,2], [3,4]]
np.concatenate([x,x],axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [10]:
pd.concat??

Signature: pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)
Source:
def concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
           keys=None, levels=None, names=None, verify_integrity=False,
           sort=None, copy=True):
    """
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series, DataFrame, or Panel objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis(es)
    join_axes : list of Index objects
        Specific indexes to use for the other n - 1 axes instead of performing
        inner/outer set logic
    ignore_index : boolean, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys
    names : list, default None
        Names for the levels in the resulting hierarchical index
    verify_integrity : boolean, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation
    sort : boolean, default None
        Sort non-concatenation axis if it is not already aligned when `join`
        is 'outer'. The current default of sorting is deprecated and will
        change to not-sorting in a future version of pandas.

        Explicitly pass ``sort=True`` to silence the warning and sort.
        Explicitly pass ``sort=False`` to silence the warning and not sort.

        This has no effect when ``join='inner'``, which already preserves
        the order of the non-concatenation axis.

        .. versionadded:: 0.23.0

    copy : boolean, default True
        If False, do not copy data unnecessarily

    Returns
    -------
    concatenated : object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <http://pandas.pydata.org/pandas-docs/stable/merging.html>`__.

    See Also
    --------
    Series.append
    DataFrame.append
    DataFrame.join
    DataFrame.merge

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2',])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3])
      animal letter  number
    0    NaN      a       1
    1    NaN      b       2
    0    cat      c       3
    1    dog      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']
    """
    op = _Concatenator(objs, axis=axis, join_axes=join_axes,
                       ignore_index=ignore_index, join=join,
                       keys=keys, levels=levels, names=names,
                       verify_integrity=verify_integrity,
                       copy=copy, sort=sort)
    return op.get_result()
File:      ~/anaconda3/lib/python3.6/site-packages/pandas/core/reshape/concat.py
Type:      function

In [14]:
ser1 = pd.DataFrame(['A','B','C'], index=[1,2,3])
ser2 = pd.DataFrame(['D','E','F'], index=[4,5,6])
pd.concat([ser1,ser2])

   0
1  A
2  B
3  C
4  D
5  E
6  F

In [15]:
ser1

   0
1  A
2  B
3  C

In [16]:
df1 = make_df('AB',[1,2])
df2 = make_df('AB', [3,4])
print(df1)
print(df2)
print(pd.concat([df1, df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [17]:
x = make_df('AB',[1,2])
y = make_df('AB', [3,4])
y.index = x.index
print(x)
print(y)
print(pd.concat([x, y]))

    A   B
1  A1  B1
2  A2  B2
    A   B
1  A3  B3
2  A4  B4
    A   B
1  A1  B1
2  A2  B2
1  A3  B3
2  A4  B4

In [19]:
x = make_df('AB',[1,2])
y = make_df('AB', [3,4])
y.index = x.index
print(x)
print(y)
print(pd.concat([x, y], ignore_index=True))

    A   B
1  A1  B1
2  A2  B2
    A   B
1  A3  B3
2  A4  B4
    A   B
0  A1  B1
1  A2  B2
2  A3  B3
3  A4  B4

In [20]:
x = make_df('AB',[1,2])
y = make_df('AB', [3,4])

print(x)
print(y)
print(pd.concat([x, y], keys=['x','y']))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
      A   B
x 1  A1  B1
  2  A2  B2
y 3  A3  B3
  4  A4  B4

In [22]:
x = make_df('ABC',[1,2])
y = make_df('BCD', [3,4])

print(x)
print(y)
print(pd.concat([x, y], join='inner'))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [23]:
print(x)
print(y)
print(pd.concat([x, y], join_axes=[x.columns]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3  NaN  B3  C3
4  NaN  B4  C4

In [26]:
x = make_df('AB',[1,2])
y = make_df('AB', [3,4])

print(x)
print(y)
print(x.append(y))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [ ]:
## concat is faster than append