## to use pandas , it is required to install numpy first

In [3]:
import numpy as np
import pandas as pd
pd.__version__

'0.23.0'

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
print(data[1])
print(data[1:3])

0.5
1    0.50
2    0.75
dtype: float64

In [9]:
data = pd.Series([0.25, 0.5, 0.74, 1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.74
d    1.00
dtype: float64

In [13]:
print(data['b'])
print(data[1])
data['b'] == data[1]

0.5
0.5

True

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
index = [2,5,3,7]
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [15]:
population_dict = {'Cal': 12345, 'Texas': 298999, 'NY': 2143343, 'Florida': 12348, 'Ill': 1394839247}
population = pd.Series(population_dict)
population

Cal             12345
Texas          298999
NY            2143343
Florida         12348
Ill        1394839247
dtype: int64

In [16]:
print(population['Cal'])
print(population['Cal':'NY'])

12345
Cal        12345
Texas     298999
NY       2143343
dtype: int64

In [17]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

## pandas dataframe - generalized (collection of) numpy array

In [18]:
population_dict = {'Cal': 12345, 'Texas': 298999, 'NY': 2143343, 'Florida': 12348, 'Ill': 1394839247}
population = pd.Series(population_dict)
population

Cal             12345
Texas          298999
NY            2143343
Florida         12348
Ill        1394839247
dtype: int64

In [19]:
area_dict = {'Cal': 4983090, 'Texas': 392399, 'NY': 2233343, 'Florida': 1989848, 'Ill': 839247}
area = pd.Series(area_dict)
area

Cal        4983090
Texas       392399
NY         2233343
Florida    1989848
Ill         839247
dtype: int64

In [21]:
states = pd.DataFrame({'population':population, 'area':area})
states

         population     area
Cal           12345  4983090
Texas        298999   392399
NY          2143343  2233343
Florida       12348  1989848
Ill      1394839247   839247

In [22]:
states.index

Index(['Cal', 'Texas', 'NY', 'Florida', 'Ill'], dtype='object')

In [23]:
states['area']

Cal        4983090
Texas       392399
NY         2233343
Florida    1989848
Ill         839247
Name: area, dtype: int64

In [24]:
pd.DataFrame(population, columns=['population'])

         population
Cal           12345
Texas        298999
NY          2143343
Florida       12348
Ill      1394839247

In [26]:
pd.DataFrame([{'a':1, 'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [27]:
pd.DataFrame(np.random.rand(3,2), columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.385997  0.435525
b  0.615209  0.332540
c  0.214406  0.082811

In [28]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [29]:
print(ind[1])
print(ind[::2])
print(ind.size, ind.shape, ind.ndim, ind.dtype)

3
Int64Index([2, 5, 11], dtype='int64')
5 (5,) 1 int64

In [30]:
inda = pd.Index([1,3,5,7,9])
indb = pd.Index([2,3,5,7,11])
inda & indb

Int64Index([3, 5, 7], dtype='int64')

In [31]:
inda | indb

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [32]:
inda^indb

Int64Index([1, 2, 9, 11], dtype='int64')

In [33]:
states.keys()

Index(['population', 'area'], dtype='object')

In [37]:
list(states.population.items())

[('Cal', 12345),
 ('Texas', 298999),
 ('NY', 2143343),
 ('Florida', 12348),
 ('Ill', 1394839247)]

## indexer : loc, iloc, ix

In [41]:
states.loc['Texas','population']

298999

In [42]:
states.iloc[1,0]

298999

In [44]:
states.loc[:,'population']

Cal             12345
Texas          298999
NY            2143343
Florida         12348
Ill        1394839247
Name: population, dtype: int64

In [45]:
states.iloc[:,0]

Cal             12345
Texas          298999
NY            2143343
Florida         12348
Ill        1394839247
Name: population, dtype: int64

## Dataframe functions - selection of data